Repository BastiaanOlij/godot-xr-tools2: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-headers, uid-checks

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: local
    hooks:
      - id: copyright-headers
        name: copyright-headers
        language: python
        entry: python misc/workflow_scripts/copyright_headers.py
        files: \.(gd)$
      - id: uid-checks
        name: uid-checks
        language: python
        entry: python misc/workflow_scripts/uid_checks.py
        files: \.(tscn|import|tres|uid)$

Implement hand finger pose system
  components/xrt2_grab_point.gd
  debug/xrt2_axis.gd
  debug/xrt2_axis.gd.uid
  debug/xrt2_axis.tscn
  debug/xrt2_bone.tscn
  debug/xrt2_bone_visualiser.gd
  debug/xrt2_bone_visualiser.gd.uid
  debug/xrt2_vector.gd
  debug/xrt2_vector.gd.uid
  debug/xrt2_vector.tscn
  hands/poses/xrt2_finger_poses.gd
  hands/poses/xrt2_finger_poses.gd.uid
  hands/poses/xrt2_finger_poses_modifier3d.gd
  hands/poses/xrt2_finger_poses_modifier3d.gd.uid
  hands/xrt2_collision_hand.gd
  hands/xrt2_hand_fallback_modifier3d.gd
  hands/xrt2_hand_modifier3d.gd
  hands/xrt2_hand_modifier3d.gd.uid
  player/interaction_functions/xrt2_pickup.gd
  prefabs/xrt2_character_body_3d.tscn
  prefabs/xrt2_static_player_rig.gd
  staging/base_stages/xrt2_stage_base.gd
Due: copyright-headers, uid-checks

Demo for hand finger pose logic
  components/box_finger_poses.tres
  components/rigid_box.gd
  components/rigid_box.tscn
  export_presets.cfg
  project.godot
  spectator.tscn
  stages/main_stage/main_stage.gd
  stages/main_stage/main_stage.tscn
  stages/main_stage/world.tscn
Due: copyright-headers, uid-checks

Improve our two handed logic
  components/decorators/xrt2_grab_point.gd
  components/decorators/xrt2_grab_point.gd.uid
  components/decorators/xrt2_rigid_body_behaviour.gd
  components/decorators/xrt2_rigid_body_behaviour.gd.uid
  player/interaction_functions/xrt2_pickup.gd
  xrt2_helper.gd
Due: copyright-headers, uid-checks

Improved automatic hand placement when no grab point is availble
  debug/xrt2_vector.gd
  player/interaction_functions/xrt2_pickup.gd
Due: copyright-headers

Demo changes for grab point improvements
  components/rigid_box.tscn
  props/ball_and_chain/ball_and_chain.tscn
  spectator.tscn
  stages/main_stage/main_stage.tscn
  stages/main_stage/world.tscn
Due: uid-checks

Revise GitHub shield images in README
  README.md
Due: none

Change GitHub badge styles in README
  README.md
Due: none

Update contributors badge in README.md
  README.md
Due: none

Create pointer.tscn
  components/components/pointer/pointer.tscn
Due: uid-checks

Delete components/components/pointer/pointer.tscn
  components/components/pointer/pointer.tscn
Due: uid-checks

Create pointer.tscn
  components/pointer/pointer.tscn
Due: uid-checks

Create pointer.gd
  components/pointer/pointer.gd
Due: copyright-headers

Add support for grabbing and climbing static objects
  debug/xrt2_vector.tscn
  player/components/xrt2_locomotion_handler.gd
  player/interaction_functions/xrt2_pickup.gd
Due: copyright-headers, uid-checks

Demo changes for grabbing static objects
  stages/main_stage/main_stage.tscn
Due: uid-checks

Further tweaks and some cleanup things
  components/decorators/xrt2_rigid_body_behaviour.gd
  hands/xrt2_collision_hand.gd
  player/interaction_functions/xrt2_pickup.gd
  staging/loading_screen/xrt2_loading_screen.gd
  staging/loading_screen/xrt2_loading_screen.tscn
  ui/buttons/xrt2_hold_button.gd
Due: copyright-headers, uid-checks

Fixing up a few things around CharacterBody3D interaction
  debug/xrt2_vector.gd
  hands/poses/xrt2_finger_poses.gd
  player/components/xrt2_locomotion_handler.gd
  player/interaction_functions/xrt2_pickup.gd
  prefabs/xrt2_character_body_3d.tscn
Due: copyright-headers, uid-checks

Oops, forgot to push before merging
  assets/climbing/climbing_holds.glb
  assets/climbing/climbing_holds.glb.import
  assets/climbing/materials/GreenHold.tres
  assets/climbing/materials/MetalScrew.tres
  assets/climbing/materials/PurpleHold.tres
  assets/climbing/materials/RedHold.tres
  assets/climbing/materials/YellowHold.tres
  assets/climbing/mesh/climbing_holds_rock.res
  assets/climbing/mesh/climbing_holds_rock_001.res
  assets/climbing/mesh/climbing_holds_rock_002.res
  assets/climbing/mesh/climbing_holds_rock_003.res
  assets/climbing/mesh/climbing_holds_screw.tres
  components/climbing_hold_green.tscn
  components/climbing_hold_pose.tres
  components/climbing_hold_purple.tscn
  components/climbing_hold_red.tscn
  components/climbing_hold_yellow.tscn
  components/floor.tscn
  components/static_box.tscn
  project.godot
  stages/main_stage/main_stage.tscn
  stages/main_stage/world.tscn
Due: uid-checks

Implement collision exception handler
  player/interaction_functions/xrt2_pickup.gd
  xrt2_helper.gd
Due: copyright-headers

Added climbing demo changes
  components/climbing_hold_green.tscn
  components/climbing_hold_purple.tscn
  components/climbing_hold_red.tscn
  components/climbing_hold_yellow.tscn
  stages/main_stage/world.tscn
Due: uid-checks

Update README.md for CI improvements
  .github/workflows/static_checks.yml
  README.md
Due: none

Adding test and release build CI
  .github/workflows/build-on-push.yml
  .github/workflows/publish-demo.yml
  .github/workflows/static_checks.yml
  build/.gdignore
  build/android-khronos/.gitignore
  build/androidxr/.gitignore
  build/linux/.gitignore
  build/meta-quest/.gitignore
  build/pico/.gitignore
  build/steam-frame/.gitignore
  build/windows/.gitignore
  export_presets.cfg
Due: none

Fix release build steps
  .github/workflows/build-on-push.yml
  .github/workflows/publish-demo.yml
Due: none

Small fix in logger and pickup/dropped signals
  debug/xrt2_logger.gd
  player/interaction_functions/xrt2_pickup.gd
Due: copyright-headers

Improvements to climbing plus added door
  components/climbing_hold_red.tscn
  components/door.tscn
  components/door_handle.gd
  components/door_handle.gd.uid
  components/railing.tscn
  components/rung.tscn
  spectator.tscn
  stages/main_stage/main_stage.tscn
  stages/main_stage/world.tscn
Due: copyright-headers, uid-checks

Rename XRT2Helper to XRT2 as this has gotten a bigger role
  hands/xrt2_collision_hand.gd
  player/interaction_functions/xrt2_pickup.gd
  player/movement_providers/xrt2_direct_movement.gd
  player/movement_providers/xrt2_movement_provider.gd
  xrt2.gd
  xrt2.gd.uid
Due: copyright-headers, uid-checks
