Repository BastiaanOlij/godot-xr-tools2: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-headers, uid-checks

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/workflow_scripts/copyright_headers.py

uid-checks:
  name: uid-checks
  language: python
  entry: python misc/workflow_scripts/uid_checks.py

Update readme.md with Godot 4.4 info
  README.md
Due: none

Update demo to Godot 4.4
  .gitattributes
  assets/gltf/LeftHandHumanoid.gltf.import
  assets/gltf/RightHandHumanoid.gltf.import
  main.tscn
  materials_and_shaders/textured.gdshader.uid
  openxr_action_map.tres
  project.godot
  stages/main_stage/ghost_hand.gd.uid
Due: uid-checks

Add a spectator camera in PCVR mode
  construct/xrt2_construct.gd
  construct/xrt2_construct.gd.uid
  construct/xrt2_construct.tscn
  construct/xrt2_spectator_camera.gd
  construct/xrt2_spectator_camera.gd.uid
  construct/xrt2_spectator_camera.tscn
  player_rigs/xrt2_dynamic_player_rig.tscn
  player_rigs/xrt2_static_player_rig.tscn
  shaders/shaded_no_alpha.gdshader
  shaders/shaded_no_alpha.gdshader.uid
  shaders/unshaded_no_alpha.gdshader
  shaders/unshaded_no_alpha.gdshader.uid
  shaders/unshaded_texture_no_alpha.gdshader
  shaders/unshaded_texture_no_alpha.gdshader.uid
  staging/xrt2_staging.gd
  staging/xrt2_staging.tscn
Due: copyright-headers, uid-checks

Changes to demo the spectator camera
  construct.gd
  construct.gd.uid
  construct.tscn
  project.godot
  stages/main_stage/main_stage.tscn
Due: copyright-headers, uid-checks

Implement RigidBody based collision hands
  .gitattributes
  .github/workflows/static_checks.yml
  components/xrt2_grab_point.gd
  hands/gltf/LeftHandHumanoid.bin
  hands/gltf/LeftHandHumanoid.gltf
  hands/gltf/LeftHandHumanoid.gltf.import
  hands/gltf/RightHandHumanoid.bin
  hands/gltf/RightHandHumanoid.gltf
  hands/gltf/RightHandHumanoid.gltf.import
  hands/gltf/ghost.material
  hands/gltf/hand.png
  hands/gltf/hand.png.import
  hands/xrt2_collision_hand.gd
  hands/xrt2_collision_hand_offset.gd
  hands/xrt2_collision_hand_offset.gd.uid
  hands/xrt2_hand_attachment.gd
  hands/xrt2_hand_attachment.gd.uid
  player_rigs/interaction_functions/xrt2_pickup.gd
Due: copyright-headers, uid-checks

Added code regions to collision hands for clarity and add a mesh overrule
  hands/xrt2_collision_hand.gd
Due: copyright-headers

Added signals and extra functions for action map interaction
  hands/xrt2_collision_hand.gd
Due: copyright-headers

Demo for rigidbody based collision hands
  .gitignore
  assets/gltf/LeftHandHumanoid.bin
  assets/gltf/LeftHandHumanoid.gltf
  assets/gltf/LeftHandHumanoid.gltf.import
  assets/gltf/RightHandHumanoid.bin
  assets/gltf/RightHandHumanoid.gltf
  assets/gltf/RightHandHumanoid.gltf.import
  assets/gltf/hand.png
  assets/gltf/hand.png.import
  components/box.gd
  components/box.gd.uid
  components/box.tscn
  components/floor.tscn
  components/table.tscn
  components/wall.tscn
  construct.tscn
  export_presets.cfg
  openxr_action_map.tres
  project.godot
  stages/main_stage/ghost_hand.gd
  stages/main_stage/ghost_hand.gd.uid
  stages/main_stage/ghost_hand.material
  stages/main_stage/main_stage.tscn
  testing/arrow.gd
  testing/arrow.gd.uid
  testing/arrow.tscn
  testing/axis.tscn
Due: copyright-headers, uid-checks

Small fixes and tweaks found during stream 14/12/2024
  hands/xrt2_collision_hand.gd
  player_rigs/interaction_functions/xrt2_pickup.gd
  staging/loading_screen/xrt2_loading_screen.tscn
Due: copyright-headers, uid-checks

Improvements to picking up
  components/xrt2_grab_point.gd
  construct/xrt2_construct.tscn
  hands/xrt2_collision_hand.gd
  player_rigs/interaction_functions/xrt2_pickup.gd
  shaders/highlight_by_normal.gdshader
  shaders/highlight_by_normal.material
  shaders/highlight_by_vertex.gdshader
  shaders/highlight_by_vertex.material
Due: copyright-headers, uid-checks

Our fade should only apply in headset
  effects/fade/xrt2_fade.tscn
Due: uid-checks

Add the ability to pick up PhysicalBone3D objects, but only with collision hands
  player_rigs/interaction_functions/xrt2_pickup.gd
Due: copyright-headers

Make teleport distance setable and added drop on teleport logic
  hands/xrt2_collision_hand.gd
  player_rigs/interaction_functions/xrt2_pickup.gd
Due: copyright-headers

Add group to exclude nodes from our automatic highlight check
  player_rigs/interaction_functions/xrt2_pickup.gd
Due: copyright-headers

Add a stabilized camera option for our construct setup
  construct/xrt2_spectator_camera.gd
  construct/xrt2_stabilized_camera.gd
  construct/xrt2_stabilized_camera.gd.uid
  construct/xrt2_stabilized_camera.tscn
  hands/xrt2_collision_hand.gd
Due: copyright-headers, uid-checks

Improving the hand movement logic
  hands/gltf/ghost.material
  hands/gltf/ghost_material.tres
  hands/xrt2_collision_hand.gd
  player_rigs/xrt2_dynamic_player_rig.gd
  shaders/unshaded_with_alpha_nodepth.gdshader
  shaders/unshaded_with_alpha_nodepth.gdshader.uid
Due: copyright-headers, uid-checks

Adding finger bone collision support
  hands/xrt2_collision_finger.gd
  hands/xrt2_collision_finger.gd.uid
  hands/xrt2_collision_hand.gd
  hands/xrt2_hand_digit.shape
Due: copyright-headers, uid-checks

Some tweaks to the readme file
  LICENSE
  README.md
Due: none

Github didn't like me adding an additional header to the license :P
  LICENSE
  README.md
Due: none

Introduce an hand pose node that positions poses from the action map as children of collision hands
  hands/xrt2_collision_hand.gd
  hands/xrt2_hand_pose.gd
  hands/xrt2_hand_pose.gd.uid
  player_rigs/interaction_functions/xrt2_pickup.gd
Due: copyright-headers, uid-checks

Introduce an hand pose node that positions poses from the action map as children of collision hands (#42)
  hands/xrt2_collision_hand.gd
  hands/xrt2_hand_pose.gd
  hands/xrt2_hand_pose.gd.uid
  player_rigs/interaction_functions/xrt2_pickup.gd
Due: copyright-headers, uid-checks

Add hand tracking fallback skeleton modifier
  hands/xrt2_collision_hand.gd
  hands/xrt2_hand_fallback_modifier3d.gd
  hands/xrt2_hand_fallback_modifier3d.gd.uid
Due: copyright-headers, uid-checks

Add hand tracking fallback skeleton modifier (#43)
  hands/xrt2_collision_hand.gd
  hands/xrt2_hand_fallback_modifier3d.gd
  hands/xrt2_hand_fallback_modifier3d.gd.uid
Due: copyright-headers, uid-checks

Small tweaks to fade logic
  effects/fade/xrt2_fade.gd
  staging/xrt2_staging.gd
Due: copyright-headers

Apply world scale to collision hands
  hands/xrt2_collision_hand.gd
Due: copyright-headers

Apply world scale to collision hands (#44)
  hands/xrt2_collision_hand.gd
Due: copyright-headers

Separate out physical movement handler
  effects/fade/xrt2_fade.gd
  effects/fade/xrt2_fade.tscn
  player_rigs/components/xrt2_physical_movement_handler.gd
  player_rigs/components/xrt2_physical_movement_handler.gd.uid
  player_rigs/xrt2_dynamic_player_rig.gd
  player_rigs/xrt2_dynamic_player_rig.tscn
  player_rigs/xrt2_static_player_rig.tscn
  staging/xrt2_staging.tscn
  ui/buttons/xrt2_hold_button_visualshader.tres
Due: copyright-headers, uid-checks

Separate out physical movement handler (#46)
  effects/fade/xrt2_fade.gd
  effects/fade/xrt2_fade.tscn
  player_rigs/components/xrt2_physical_movement_handler.gd
  player_rigs/components/xrt2_physical_movement_handler.gd.uid
  player_rigs/xrt2_dynamic_player_rig.gd
  player_rigs/xrt2_dynamic_player_rig.tscn
  player_rigs/xrt2_static_player_rig.tscn
  staging/xrt2_staging.tscn
  ui/buttons/xrt2_hold_button_visualshader.tres
Due: copyright-headers, uid-checks

Move to Godot 4.5 and split physical movement logic
  assets/low-poly-clouds-pack-1/Cloud_1.glb
  assets/low-poly-clouds-pack-1/Cloud_1.glb.import
  assets/low-poly-clouds-pack-1/Cloud_2.glb
  assets/low-poly-clouds-pack-1/Cloud_2.glb.import
  assets/low-poly-clouds-pack-1/Cloud_3.glb
  assets/low-poly-clouds-pack-1/Cloud_3.glb.import
  assets/low-poly-clouds-pack-1/Cloud_4.glb
  assets/low-poly-clouds-pack-1/Cloud_4.glb.import
  assets/low-poly-clouds-pack-1/LICENSE.txt
  assets/low-poly-clouds-pack-1/cloud_material.tres
  assets/low-poly-clouds-pack-1/meshes/Cloud_1_Icosphere_044.res
  assets/low-poly-clouds-pack-1/meshes/Cloud_2_Icosphere_043.res
  assets/low-poly-clouds-pack-1/meshes/Cloud_3_Icosphere_042.res
  assets/low-poly-clouds-pack-1/meshes/Cloud_4_Icosphere_045.res
  components/box.gd
  components/box.tscn
  components/stairs.tscn
  components/wall.gd
  components/wall.gd.uid
  components/wall.tscn
  project.godot
  stages/main_stage/main_stage.tscn
  stages/main_stage/world.tscn
Due: copyright-headers, uid-checks

Move to Godot 4.5 and split physical movement logic (#47)
  assets/low-poly-clouds-pack-1/Cloud_1.glb
  assets/low-poly-clouds-pack-1/Cloud_1.glb.import
  assets/low-poly-clouds-pack-1/Cloud_2.glb
  assets/low-poly-clouds-pack-1/Cloud_2.glb.import
  assets/low-poly-clouds-pack-1/Cloud_3.glb
  assets/low-poly-clouds-pack-1/Cloud_3.glb.import
  assets/low-poly-clouds-pack-1/Cloud_4.glb
  assets/low-poly-clouds-pack-1/Cloud_4.glb.import
  assets/low-poly-clouds-pack-1/LICENSE.txt
  assets/low-poly-clouds-pack-1/cloud_material.tres
  assets/low-poly-clouds-pack-1/meshes/Cloud_1_Icosphere_044.res
  assets/low-poly-clouds-pack-1/meshes/Cloud_2_Icosphere_043.res
  assets/low-poly-clouds-pack-1/meshes/Cloud_3_Icosphere_042.res
  assets/low-poly-clouds-pack-1/meshes/Cloud_4_Icosphere_045.res
  components/box.gd
  components/box.tscn
  components/stairs.tscn
  components/wall.gd
  components/wall.gd.uid
  components/wall.tscn
  project.godot
  stages/main_stage/main_stage.tscn
  stages/main_stage/world.tscn
Due: copyright-headers, uid-checks

Add locomotion handler implementation
  construct/xrt2_spectator_camera.gd
  hands/xrt2_collision_hand.gd
  objects/force_body/xrt2_force_body.gd
  objects/force_body/xrt2_force_body.gd.uid
  player/components/xrt2_locomotion_handler.gd
  player/components/xrt2_locomotion_handler.gd.uid
  player/components/xrt2_physical_movement_handler.gd
  player/components/xrt2_physical_movement_handler.gd.uid
  player/interaction_functions/xrt2_pickup.gd
  player/interaction_functions/xrt2_pickup.gd.uid
  player/movement_functions/xrt2_direct_movement.gd
  player/movement_functions/xrt2_direct_movement.gd.uid
  player/movement_functions/xrt2_movement_provider.gd
  player/movement_functions/xrt2_movement_provider.gd.uid
  player_rigs/xrt2_dynamic_player_rig.gd
  player_rigs/xrt2_dynamic_player_rig.gd.uid
  player_rigs/xrt2_dynamic_player_rig.tscn
  prefabs/xrt2_character_body_3d.tscn
  prefabs/xrt2_static_player_rig.gd
  prefabs/xrt2_static_player_rig.gd.uid
  prefabs/xrt2_static_player_rig.tscn
  staging/base_stages/xrt2_stage_base.gd
Due: copyright-headers, uid-checks

Add locomotion handler implementation (#51)
  construct/xrt2_spectator_camera.gd
  hands/xrt2_collision_hand.gd
  objects/force_body/xrt2_force_body.gd
  objects/force_body/xrt2_force_body.gd.uid
  player/components/xrt2_locomotion_handler.gd
  player/components/xrt2_locomotion_handler.gd.uid
  player/components/xrt2_physical_movement_handler.gd
  player/components/xrt2_physical_movement_handler.gd.uid
  player/interaction_functions/xrt2_pickup.gd
  player/interaction_functions/xrt2_pickup.gd.uid
  player/movement_functions/xrt2_direct_movement.gd
  player/movement_functions/xrt2_direct_movement.gd.uid
  player/movement_functions/xrt2_movement_provider.gd
  player/movement_functions/xrt2_movement_provider.gd.uid
  player_rigs/xrt2_dynamic_player_rig.gd
  player_rigs/xrt2_dynamic_player_rig.gd.uid
  player_rigs/xrt2_dynamic_player_rig.tscn
  prefabs/xrt2_character_body_3d.tscn
  prefabs/xrt2_static_player_rig.gd
  prefabs/xrt2_static_player_rig.gd.uid
  prefabs/xrt2_static_player_rig.tscn
  staging/base_stages/xrt2_stage_base.gd
Due: copyright-headers, uid-checks

Demo additions for locomotion handler implementation
  stages/main_stage/main_stage.tscn
Due: uid-checks

Demo additions for locomotion handler implementation (#52)
  stages/main_stage/main_stage.tscn
Due: uid-checks

Rename movement_functions to movement_providers, and a few tweaks.
  player/components/xrt2_locomotion_handler.gd
  player/movement_providers/xrt2_direct_movement.gd
  player/movement_providers/xrt2_direct_movement.gd.uid
  player/movement_providers/xrt2_movement_provider.gd
  player/movement_providers/xrt2_movement_provider.gd.uid
  xrt2_helper.gd
Due: copyright-headers, uid-checks

Path conditions:
  copyright-headers: any of: \.(gd)$
  uid-checks: any of: \.(tscn|import|tres|uid)$
