Repository BastiaanOlij/godot-xr-tools2: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-headers, uid-checks

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/workflow_scripts/copyright_headers.py

uid-checks:
  name: uid-checks
  language: python
  entry: python misc/workflow_scripts/uid_checks.py

Demo changes for #53
  stages/main_stage/main_stage.tscn
Due: uid-checks

Add raycast body as a height movement provider
  misc/xrt2_linear_pid_controller.gd
  misc/xrt2_linear_pid_controller.gd.uid
  player/components/xrt2_locomotion_handler.gd
  player/movement_providers/default_raycast_pid_controller.tres
  player/movement_providers/xrt2_raycast_body.gd
  player/movement_providers/xrt2_raycast_body.gd.uid
  prefabs/xrt2_character_body_3d.tscn
Due: copyright-headers, uid-checks

Add raycast body as a height movement provider
  misc/xrt2_linear_pid_controller.gd
  misc/xrt2_linear_pid_controller.gd.uid
  player/components/xrt2_locomotion_handler.gd
  player/movement_providers/default_raycast_pid_controller.tres
  player/movement_providers/xrt2_direct_movement.gd
  player/movement_providers/xrt2_raycast_body.gd
  player/movement_providers/xrt2_raycast_body.gd.uid
  prefabs/xrt2_character_body_3d.tscn
Due: copyright-headers, uid-checks

Rename movement_functions to movement_providers, and a few tweaks.
  player/components/xrt2_locomotion_handler.gd
  player/movement_providers/xrt2_direct_movement.gd
  player/movement_providers/xrt2_direct_movement.gd.uid
  player/movement_providers/xrt2_movement_provider.gd
  player/movement_providers/xrt2_movement_provider.gd.uid
  xrt2_helper.gd
Due: copyright-headers, uid-checks

Demo changes for #53
  components/ramps.tscn
  components/rigid_box.gd
  components/rigid_box.gd.uid
  components/rigid_box.tscn
  components/stairs.tscn
  components/static_box.gd
  components/static_box.gd.uid
  components/static_box.tscn
  stages/main_stage/main_stage.tscn
  stages/main_stage/world.tscn
Due: copyright-headers, uid-checks

Fix several movement issues
  player/components/xrt2_locomotion_handler.gd
  player/components/xrt2_physical_movement_handler.gd
  player/movement_providers/xrt2_raycast_body.gd
Due: copyright-headers

Implementing PID controllers for hands
  debug/axis.gd
  debug/axis.gd.uid
  debug/axis.tscn
  debug/vector.gd
  debug/vector.gd.uid
  debug/vector.tscn
  hands/default_hands_angular_pd_controller.tres
  hands/xrt2_collision_hand.gd
  misc/xrt2_angular_pd_controller.gd
  misc/xrt2_angular_pd_controller.gd.uid
Due: copyright-headers, uid-checks

Demo changes for PID controlled hands
  components/slider.gd
  components/slider.gd.uid
  components/slider.tscn
  main.tscn
  project.godot
  stages/main_stage/main_stage.gd
  stages/main_stage/main_stage.gd.uid
  stages/main_stage/main_stage.tscn
  stages/main_stage/world.tscn
Due: copyright-headers, uid-checks

Implementing PID controllers for hands
  debug/axis.gd
  debug/axis.gd.uid
  debug/axis.tscn
  debug/vector.gd
  debug/vector.gd.uid
  debug/vector.tscn
  hands/gltf/LeftHandHumanoid.gltf.import
  hands/gltf/RightHandHumanoid.gltf.import
  hands/gltf/hand.png.import
  hands/xrt2_collision_hand.gd
  icon.png.import
  misc/xrt2_linear_pid_controller.gd
  player/components/xrt2_locomotion_handler.gd
  player/interaction_functions/xrt2_pickup.gd
  player/movement_providers/default_raycast_pid_controller.tres
  player/movement_providers/xrt2_raycast_body.gd
Due: copyright-headers, uid-checks

Demo changes for PID controlled hands
  assets/main/pattern.png.import
  assets/main/splash.png.import
  components/rigid_box.tscn
  components/slider.gd
  components/slider.gd.uid
  components/slider.tscn
  construct.gd
  icon.svg.import
  project.godot
  props/ball_and_chain/ball.tscn
  props/ball_and_chain/ball_and_chain.tscn
  props/ball_and_chain/ball_and_chain_material.tres
  props/ball_and_chain/chain_link.tscn
  stages/main_stage/main_stage.gd
  stages/main_stage/main_stage.gd.uid
  stages/main_stage/main_stage.tscn
  stages/main_stage/world.tscn
Due: copyright-headers, uid-checks

Make some improvements to the spectator camera
  construct/xrt2_construct.tscn
  construct/xrt2_spectator_camera.gd
  construct/xrt2_spectator_camera.tscn
  construct/xrt2_stabilized_camera.gd
  construct/xrt2_stabilized_camera.tscn
Due: copyright-headers, uid-checks

Demo changes for spectator camera improvements
  construct.gd
  construct.tscn
  openxr_action_map.tres
  project.godot
  stages/main_stage/main_stage.tscn
Due: copyright-headers, uid-checks

Fixed: Physical rotation was double accounted for
  hands/xrt2_collision_hand.gd
Due: copyright-headers

More hand improvements
  hands/xrt2_collision_hand.gd
  player/interaction_functions/xrt2_pickup.gd
  player/movement_providers/xrt2_raycast_body.gd
  xrt2_helper.gd
Due: copyright-headers

Demo changes for spectator camera improvements
  props/ball_and_chain/ball_and_chain.tscn
  stages/main_stage/world.tscn
Due: uid-checks

Revert back to calculate force and torque for hand tracking.
  .gitignore
  debug/xrt2_log.gd
  debug/xrt2_log.gd.uid
  debug/xrt2_log.tscn
  debug/xrt2_logger.gd
  debug/xrt2_logger.gd.uid
  hands/xrt2_collision_hand.gd
  player/components/xrt2_physical_movement_handler.gd
  player/interaction_functions/xrt2_pickup.gd
  player/movement_providers/xrt2_raycast_body.gd
  prefabs/xrt2_character_body_3d.tscn
  xrt2_helper.gd
Due: copyright-headers, uid-checks

Demo changes for more hand improvements
  .gitignore
  props/ball_and_chain/ball_and_chain.tscn
  stages/main_stage/main_stage.gd
  stages/main_stage/main_stage.tscn
  stages/main_stage/world.tscn
  testing/arrow.gd
  testing/arrow.gd.uid
  testing/arrow.tscn
  testing/axis.tscn
Due: copyright-headers, uid-checks

Revert back to calculate force and torque for hand tracking.
  .gitignore
  debug/xrt2_log.gd
  debug/xrt2_log.gd.uid
  debug/xrt2_log.tscn
  debug/xrt2_logger.gd
  debug/xrt2_logger.gd.uid
  hands/xrt2_collision_hand.gd
  player/components/xrt2_physical_movement_handler.gd
  player/interaction_functions/xrt2_pickup.gd
  player/movement_providers/xrt2_raycast_body.gd
  prefabs/xrt2_character_body_3d.tscn
  staging/xrt2_start_xr.gd
  xrt2_helper.gd
Due: copyright-headers, uid-checks

Demo changes for more hand improvements
  .gitignore
  components/rigid_box.tscn
  construct.tscn
  export_presets.cfg
  props/ball_and_chain/ball_and_chain.tscn
  stages/main_stage/main_stage.gd
  stages/main_stage/main_stage.tscn
  stages/main_stage/world.tscn
  testing/arrow.gd
  testing/arrow.gd.uid
  testing/arrow.tscn
  testing/axis.tscn
Due: copyright-headers, uid-checks

Moving to Godot 4.6 and adjusting construct to be less intrusive
  README.md
  construct/xrt2_construct.gd
  construct/xrt2_construct.gd.uid
  construct/xrt2_construct.tscn
  spectator/xrt2_spectator_camera.gd
  spectator/xrt2_spectator_camera.gd.uid
  spectator/xrt2_spectator_camera.tscn
  spectator/xrt2_stabilized_camera.gd
  spectator/xrt2_stabilized_camera.gd.uid
  spectator/xrt2_stabilized_camera.tscn
  staging/base_stages/xrt2_default_environment.tres
  staging/xrt2_staging.gd
  ui/buttons/xrt2_hold_button_visualshader.tres
Due: copyright-headers, uid-checks

Updating demo to using Godot 4.6, also added some stuff for Steam Frame support
  .gitignore
  README.md
  construct.gd
  construct.tscn
  export_presets.cfg
  openxr_action_map.tres
  project.godot
  spectator.gd
  spectator.gd.uid
  spectator.tscn
  stages/main_stage/main_stage.tscn
Due: copyright-headers, uid-checks

Fixed default environment
  staging/base_stages/xrt2_default_environment.tres
  staging/base_stages/xrt2_stage_base.tscn
Due: uid-checks

Fix pickup logic positioning
  components/xrt2_grab_point.gd
  player/interaction_functions/xrt2_pickup.gd
Due: copyright-headers

Adjustments for #73
  stages/main_stage/main_stage.tscn
Due: uid-checks

Implement hand finger pose system
  components/xrt2_grab_point.gd
  hands/poses/xrt2_finger_poses.gd
  hands/poses/xrt2_finger_poses.gd.uid
  hands/poses/xrt2_finger_poses_modifier3d.gd
  hands/poses/xrt2_finger_poses_modifier3d.gd.uid
  hands/xrt2_collision_hand.gd
  player/interaction_functions/xrt2_pickup.gd
Due: copyright-headers, uid-checks

Demo for hand finger pose logic
  components/rigid_box.gd
  components/rigid_box.tscn
  project.godot
  stages/main_stage/world.tscn
Due: copyright-headers, uid-checks

Implement hand finger pose system
  components/xrt2_grab_point.gd
  debug/xrt2_axis.gd
  debug/xrt2_axis.gd.uid
  debug/xrt2_axis.tscn
  debug/xrt2_bone.tscn
  debug/xrt2_bone_visualiser.gd
  debug/xrt2_bone_visualiser.gd.uid
  debug/xrt2_vector.gd
  debug/xrt2_vector.gd.uid
  debug/xrt2_vector.tscn
  hands/poses/xrt2_finger_poses.gd
  hands/poses/xrt2_finger_poses.gd.uid
  hands/poses/xrt2_finger_poses_modifier3d.gd
  hands/poses/xrt2_finger_poses_modifier3d.gd.uid
  hands/xrt2_collision_hand.gd
  hands/xrt2_hand_fallback_modifier3d.gd
  hands/xrt2_hand_modifier3d.gd
  hands/xrt2_hand_modifier3d.gd.uid
  player/interaction_functions/xrt2_pickup.gd
  prefabs/xrt2_character_body_3d.tscn
  prefabs/xrt2_static_player_rig.gd
  staging/base_stages/xrt2_stage_base.gd
Due: copyright-headers, uid-checks

Path conditions:
  copyright-headers: any of: \.(gd)$
  uid-checks: any of: \.(tscn|import|tres|uid)$
