Repository BastiaanOlij/godot-xr-tools2: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-headers, uid-checks

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/workflow_scripts/copyright_headers.py

uid-checks:
  name: uid-checks
  language: python
  entry: python misc/workflow_scripts/uid_checks.py

Rename XRT2Helper to XRT2 as this has gotten a bigger role
  hands/xrt2_collision_hand.gd
  player/interaction_functions/xrt2_pickup.gd
  player/movement_providers/xrt2_direct_movement.gd
  player/movement_providers/xrt2_movement_provider.gd
  xrt2.gd
  xrt2.gd.uid
Due: copyright-headers, uid-checks

Implement teleport function
  effects/fade/xrt2_fade.gd
  hands/xrt2_collision_hand.gd
  hands/xrt2_hand_attachment.gd
  images/teleport_arrow.png
  images/teleport_arrow.png.import
  images/teleport_target.png
  images/teleport_target.png.import
  player/teleport_function/xrt2_teleport.gd
  player/teleport_function/xrt2_teleport.gd.uid
  shaders/teleport_arc.gdshader
  shaders/teleport_arc.gdshader.uid
  staging/loading_screen/xrt2_loading_screen.gd
  ui/buttons/xrt2_hold_button.gd
  xrt2.gd
Due: copyright-headers, uid-checks

Demo changes for our teleporter
  components/door_handle.gd
  main.tscn
  openxr_action_map.tres
  stages/main_stage/main_stage.tscn
Due: copyright-headers, uid-checks

Add logic for snap zone with magnet effect
  README.md
  components/snapping/xrt2_snap_point.gd
  components/snapping/xrt2_snap_point.gd.uid
  components/snapping/xrt2_snap_zone.gd
  components/snapping/xrt2_snap_zone.gd.uid
  components/snapping/xrt2_snap_zone_gizmo.gd
  components/snapping/xrt2_snap_zone_gizmo.gd.uid
  player/interaction_functions/xrt2_pickup.gd
  plugin.cfg
  plugin.gd
  plugin.gd.uid
Due: copyright-headers, uid-checks

Add snap logic demo
  components/rigid_box.gd
  components/rigid_box.tscn
  project.godot
  stages/main_stage/world.tscn
Due: copyright-headers, uid-checks

Fix pickup error with CSG and add get_stage
  player/interaction_functions/xrt2_pickup.gd
  staging/base_stages/xrt2_stage_base.gd
Due: copyright-headers

Fix issue with checking for locomotion handler on a non character body
  player/components/xrt2_locomotion_handler.gd
  player/interaction_functions/xrt2_pickup.gd
Due: copyright-headers

Update README.md with pending rename info
  README.md
Due: none

Add pointer function and 2D UI support
  components/ui/xrt2_framelimited_subviewport.tscn
  components/ui/xrt2_ui_2d_in_3d.gd
  components/ui/xrt2_ui_2d_in_3d.gd.uid
  components/ui/xrt2_ui_2d_in_3d_area.gd
  components/ui/xrt2_ui_2d_in_3d_area.gd.uid
  components/xrt2_2d_ui.tscn
  components/xrt2_frame_limited_sub_viewport.gd
  components/xrt2_frame_limited_sub_viewport.gd.uid
  player/interaction_functions/laser_mesh.tres
  player/interaction_functions/target_mesh.tres
  player/interaction_functions/xrt2_pointer.gd
  player/interaction_functions/xrt2_pointer.gd.uid
  player/teleport_function/xrt2_teleport.gd
  shaders/laser.gdshader
  shaders/laser.gdshader.uid
Due: copyright-headers, uid-checks

Fix missing function return in snap zone gizmo
  components/snapping/xrt2_snap_zone_gizmo.gd
Due: copyright-headers

Path conditions:
  copyright-headers: any of: \.(gd)$
  uid-checks: any of: \.(tscn|import|tres|uid)$
